@page "/available-product"
@using ApiContracts.Dtos
@using BlazorApp.Services.Interface
@rendermode InteractiveServer
@inject IGetProductService GetProductService
@inject NavigationManager NavigationManager
@inject ICartService CartService

@code 
{
	//attributes for product list
	private IQueryable<ProductWithFirstImageDto>? _products;
	private string _addToCartMessage = "";
	private string _loadingMessage = "";

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_products = await GetProductService.GetAllAvailableAsync();
			_loadingMessage = "Loading...";
		}
		catch (Exception ex)
		{
			_loadingMessage = $"Error loading products: {ex.Message}";
		}
	}

	private void AddProductToCart(ProductWithFirstImageDto product)
	{
		if (CartService.Items.Any(i => i.ProductId == product.Id))
		{
			_addToCartMessage = $"'{product.Name}' is already in the cart.";
			return;
		}

		CartService.AddItem(product.Id, product.Name, product.Price, product.Image?.Url);
		_addToCartMessage = $"'{product.Name}' added to cart.";
	}
}

<link href="css/Product.css" rel="stylesheet" />

<h3>Buy Products here</h3>

<p>@_addToCartMessage</p>

@if (_products == null)
{
	<p>@_loadingMessage</p>
}
else
{
	<div class="product-list">
		@foreach (var product in _products)
		{
			<div class="product-row">
				<NavLink class="product-card" href="@($"/products/{product.Id}")">
					@if (product.Image != null)
					{
						<img class="product-image" src="@product.Image.Url" alt="@product.Name" />
					}
					else
					{
						<span class="product-image">No Image</span>
					}
					<div class="product-details">
						<div><strong>@product.Name</strong></div>
						<div>@product.Description</div>
					</div>
					<div class="product-price">@product.Price DKK</div>
				</NavLink>
				<AuthorizeView Roles="Customer">
					<Authorized>
						<div class="add-to-cart" @onclick="() => AddProductToCart(product)">Add to cart</div>
					</Authorized>
				</AuthorizeView>
			</div>
		}
	</div>
}