@page "/customer/info"
@using ApiContracts
@using ApiContracts.Dtos
@using BlazorApp.Services.Interface
@attribute [Authorize(Roles = "Customer")]
@inject AuthenticationStateProvider AuthStateProvider
@inject IGetCustomerService GetCustomerService
@inject NavigationManager Nav

<h3>Customer</h3>

@if (_loading)
{
    <p>loading...</p>
}
else if (_error is not null)
{
    <div class="alert alert-danger">@_error</div>
}
else if (_customer is null)
{
    <div class="alert alert-warning">Not found.</div>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Id</dt><dd class="col-sm-9">@_customer.Id</dd>
        <dt class="col-sm-3">Name</dt><dd class="col-sm-9">@_customer.FirstName @_customer.LastName</dd>
        <dt class="col-sm-3">Email</dt><dd class="col-sm-9">@_customer.Email</dd>
        <dt class="col-sm-3">Phone</dt><dd class="col-sm-9">@_customer.PhoneNumber</dd>
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@_customer.StreetName, @_customer.SecondaryUnit<br/>@_customer.PostalCode @_customer.City</dd>
    </dl>
	<button class="btn btn-primary" @onclick="NavigateToUpdateCustomer">Go To Update Customer</button>
}

@code {
    private int id { get; set; }
    private CustomerDto? _customer;
    private string? _error;
    private bool _loading = true;


    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _error = null;
        _customer = null;

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? false)
        {
            Nav.NavigateTo("/customer-login", forceLoad: true);
            return;
        }
        // Read the ID claim from the token
        var idClaim = user.FindFirst("CustomerId")?.Value;
        if (string.IsNullOrWhiteSpace(idClaim) || !int.TryParse(idClaim, out var customerIdFromToken))
        {
            Nav.NavigateTo("/customer-login", forceLoad: true);
            return;
        }
        id = customerIdFromToken;

        try
        {
            _customer = await GetCustomerService.GetCustomerByIdAsync(id);
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
        finally
        {
            _loading = false;
        }
    }

    private void NavigateToUpdateCustomer()
    {
        Nav.NavigateTo($"/customer/info/update");
	}
}
